
.priorityMainDiv {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.priorityButton{
    padding: 6px 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
}